.header{
    display: block;
    min-height: 50px;
    background-color: rgba(54, 58, 50, 1);
    text-align: center;
 }
 nav a {
    text-decoration: none;
    color: rgba(233, 227, 230, 1);
    font-size: 20px;
    margin:0px;
    float: left;
    width: 16.6666%;
 
 }
 
 .title{
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    text-align: center;
    background-color: rgba(233, 227, 230, 1);
    margin: -20px;
 }
 
 
 
 .content{
    display: block;
    background-color: rgba(113, 105, 105, 1);
    margin: 0px 300px;
    min-height: 200px;
    text-align: center;
 }

 .row
 {
   background-color: rgba(233, 227, 230, 1);
 }

 .setBreak1{
    background-color: rgba(233, 227, 230, 1)
 }